<footer>
    <nav class="container">
        <ul>
            <li>&copy; Kung Hiu 2014</li>
			<div>
			<a href="http://kunghiu.github.io/rss.xml">
                        <div data-src="/img/icon_rss.png"></div>
						<div>订阅博文</div>
			</a>
			<div>
        </ul>
    </nav>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F33a94876a57354d0e66c61b4274695f2' type='text/javascript'%3E%3C/script%3E"));
</script>
</footer>
